<template>
  <div v-if="authUser" class="flex flex-col flex-1 h-screen overflow-y-hidden">
    <Nav></Nav>
    <div class="flex overflow-y-hidden flex-1">
      <Sidebar></Sidebar>
      <div class="overflow-x-hidden w-2/3">
        <router-view :key="$route.fullPath"></router-view>
      </div>
    </div>
  </div>
</template>

<script>
import Nav from "./Nav.vue";
import Sidebar from "./Sidebar.vue";

import { mapActions, mapGetters } from "vuex";

export default {
  name: "App",
  components: {
    Nav: Nav,
    Sidebar: Sidebar
  },
  computed: {
    ...mapGetters(["pageTitle", "authUser"])
  },
  methods: {
    ...mapActions({
      fetchAuthUser: "fetchAuthUser",
      setPageTitle: "setPageTitle"
    }),
    updatePageTitle(pageTitle) {
      document.title = pageTitle;
    }
  },
  mounted() {
    this.fetchAuthUser();
    this.setPageTitle(this.$route.meta.title);
  },
  watch: {
    $route(to, from) {
      this.setPageTitle(to.meta.title);
    },
    pageTitle() {
      this.updatePageTitle(this.pageTitle);
    }
  }
};
</script>

<style></style>
