<template>
    <div>
        <img
            :src="userImage.data.attributes.path"
            :class="classes"
            :alt="userName"
            ref="userImage"
        />
    </div>
</template>

<script>
import Dropzone from "dropzone";
import { mapActions, mapGetters } from "vuex";

export default {
    name: "UploadableImage",
    props: [
        "userImage",
        "imageWidth",
        "imageHeight",
        "location",
        "userName",
        "classes"
    ],
    data: () => {
        return {
            dropzone: null,
            uploadedImage: null
        };
    },
    methods: {
        ...mapActions({
            fetchAuthUser: "fetchAuthUser",
            fetchUser: "fetchUser",
            fetchUserPosts: "fetchUserPosts"
        })
    },
    computed: {
        ...mapGetters({
            authUser: "authUser"
        }),
        settings() {
            return {
                paramName: "image",
                url: "/api/user-images",
                acceptedFiles: "image/*",
                params: {
                    width: parseInt(this.imageWidth),
                    height: parseInt(this.imageHeight),
                    location: this.location
                },
                headers: {
                    "X-CSRF-TOKEN": document.head.querySelector(
                        "meta[name=csrf-token]"
                    ).content
                },
                success: (e, res) => {
                    this.fetchAuthUser();
                    this.fetchUser(this.$route.params.userId);
                    this.fetchUserPosts(this.$route.params.userId);
                }
            };
        }
    },
    mounted() {
        if (
            this.authUser.data.user_id === parseInt(this.$route.params.userId)
        ) {
            this.dropzone = new Dropzone(this.$refs.userImage, this.settings);
        }
    }
};
</script>

<style></style>
