<template>
  <div class="flex flex-col items-center py-4">
    <NewPost></NewPost>
    <div
      v-if="!newsPostsStatus || newsPostsStatus === 'loading'"
      class="my-4 d-block text-center"
    >
      Loading...
    </div>
    <Post
      v-else
      v-for="(newsPost, index) in newsPosts.data"
      :key="index"
      :post="newsPost"
    ></Post>
  </div>
</template>

<script>
import NewPost from "../components/NewPost.vue";
import Post from "../components/Post.vue";

import { mapActions, mapGetters } from "vuex";

export default {
  name: "NewsFeed",
  components: {
    NewPost: NewPost,
    Post: Post
  },
  computed: {
    ...mapGetters({
      newsPosts: "posts",
      newsPostsStatus: "postsStatus"
    })
  },
  methods: {
    ...mapActions({
      fetchNewsPosts: "fetchNewsPosts"
    })
  },
  mounted() {
    this.fetchNewsPosts();
  }
};
</script>

<style>
</style>
