<template>
  <div
    v-if="status.user === 'success' && user"
    class="flex flex-col items-center"
  >
    <div class="relative w-full mb-8">
      <div class="w-full overflow-hidden z-10">
        <UploadableImage
          :userName="user.data.attributes.name"
          imageWidth="1200"
          imageHeight="500"
          location="cover"
          classes="w-full h-64 object-cover"
          :userImage="user.data.attributes.cover_image"
        />
      </div>
      <div class="absolute bottom-0 left-0 -mb-8 z-20 flex items-center ml-12">
        <div class="w-32">
          <UploadableImage
            :userName="user.data.attributes.name"
            imageWidth="750"
            imageHeight="750"
            location="profile"
            classes="object-cover w-32 h-32 border-4 border-gray-200 rounded-full shadow-lg"
            :userImage="user.data.attributes.profile_image"
          />
        </div>
        <p class="ml-4 text-2xl text-gray-100">
          {{ user.data.attributes.name }}
        </p>
      </div>
      <div class="absolute flex items-center bottom-0 right-0 mb-4 z-20 mr-12">
        <button
          v-if="friendButtonText && friendButtonText !== 'Accept'"
          class="py-1 px-3 bg-gray-200 rounded"
          @click="sendFriendRequest($route.params.userId)"
        >
          {{ friendButtonText }}
        </button>
        <button
          v-if="friendButtonText && friendButtonText === 'Accept'"
          class="py-1 px-3 bg-blue-500 text-white rounded mr-2"
          @click="acceptFriendRequest($route.params.userId)"
        >
          Accept
        </button>
        <button
          v-if="friendButtonText && friendButtonText === 'Accept'"
          class="py-1 px-3 bg-gray-400 rounded mr-2"
          @click="ignoreFriendRequest($route.params.userId)"
        >
          Ignore
        </button>
      </div>
    </div>

    <div v-if="postsStatus === 'loading'" class="my-4 d-block text-center">
      Posts Loading...
    </div>
    <div
      v-else-if="postsStatus === 'success' && posts.data.length < 1"
      class="flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3"
      role="alert"
    >
      <svg
        class="fill-current w-4 h-4 mr-2"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          d="M12.432 0c1.34 0 2.01.912 2.01 1.957 0 1.305-1.164 2.512-2.679 2.512-1.269 0-2.009-.75-1.974-1.99C9.789 1.436 10.67 0 12.432 0zM8.309 20c-1.058 0-1.833-.652-1.093-3.524l1.214-5.092c.211-.814.246-1.141 0-1.141-.317 0-1.689.562-2.502 1.117l-.528-.88c2.572-2.186 5.531-3.467 6.801-3.467 1.057 0 1.233 1.273.705 3.23l-1.391 5.352c-.246.945-.141 1.271.106 1.271.317 0 1.357-.392 2.379-1.207l.6.814C12.098 19.02 9.365 20 8.309 20z"
        />
      </svg>
      <p>No posts found. Get started...</p>
    </div>
    <Post
      v-else-if="postsStatus === 'success' && posts.data.length > 0"
      v-for="(post, index) in posts.data"
      :key="index"
      :post="post"
    ></Post>
  </div>
</template>

<script>
import Post from "../../components/Post.vue";
import UploadableImage from "../../components/UploadableImage.vue";

import { mapActions, mapGetters } from "vuex";

export default {
  name: "Show",
  components: {
    Post: Post,
    UploadableImage: UploadableImage
  },
  computed: {
    ...mapGetters({
      user: "user",
      posts: "posts",
      friendButtonText: "friendButtonText",
      status: "status",
      postsStatus: "postsStatus"
    })
  },
  methods: {
    ...mapActions({
      fetchUser: "fetchUser",
      fetchUserPosts: "fetchUserPosts",
      sendFriendRequest: "sendFriendRequest",
      acceptFriendRequest: "acceptFriendRequest",
      ignoreFriendRequest: "ignoreFriendRequest"
    })
  },
  mounted() {
    this.fetchUser(this.$route.params.userId);
    this.fetchUserPosts(this.$route.params.userId);
  }
};
</script>

<style></style>
